<div class="clr-row">
    <div class="clr-col-6">
        <div class="card">
            <div class="card-header">
                Cloud Stats
            </div>
            <div class="card-block">
                <div class="card-img">           
                        <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel">
                        </ngx-charts-bar-vertical>   
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="card-footer">
                <button (click)="getDashboard()" class="btn btn-sm btn-link">REFRESH</button>
            </div>
        </div>
    </div>
    <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-6 clr-col-xl-6">
            <div class="card">
                <div class="card-header">
                    Deployments Methods
                </div>
                <div class="card-block">
                    <div class="card-img">
                        <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="flame"
                        [results]="methods"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel">
                        </ngx-charts-bar-vertical>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="card-footer">
                    <button (click)="getDashboard()" class="btn btn-sm btn-link">REFRESH</button>
                </div>
            </div>
        </div>
        <div class="clr-col-sm-12 clr-col-md-12">
            <div class="card">
                <div class="card-header">
                    Activity logs
                </div>
                <div class="card-block">
                    <clr-datagrid id="my-datagrid" [clrDgLoading]="Loading">
                        <clr-dg-column [clrDgField]="'date'">Date</clr-dg-column>
                        <clr-dg-column [clrDgField]="'task'">Task</clr-dg-column>
                        <clr-dg-column [clrDgField]="'cloud'">Cloud</clr-dg-column>
                        <clr-dg-column [clrDgField]="'user'">User</clr-dg-column>
                    
                        <clr-dg-row *clrDgItems="let log of this.vcnService.logs">
                            <clr-dg-cell>{{log.date | date :  "dd.MM.y H:mm:ss"}}</clr-dg-cell>
                            <clr-dg-cell>{{log.task}}</clr-dg-cell>
                            <clr-dg-cell>{{log.cloud}}</clr-dg-cell>
                            <clr-dg-cell>{{log.user}}</clr-dg-cell>
                        </clr-dg-row>
                        <clr-dg-footer>
                            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                {{this.vcnService.logs.length}} logs
                            </clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link">REFRESH</button>
                </div>
            </div>
        </div>
    <div class="clr-col-sm-12 clr-col-md-6">
        <div class="card">
            <div class="card-header">
                NSX
            </div>
            <div class="card-block">
                <div class="card-title">
                    <span class="badge badge-success">online</span>
                </div>
                <div class="card-text">
                    NSX Manager is online
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">REFRESH</button>
                <button class="btn btn-sm btn-link"><a href="https://nsx.cpod-vcn2.az-demo.shwrfr.com/" target="_blank">CONSOLE</a></button>
            </div>
        </div>
    </div>
    <div class="clr-col-sm-12 clr-col-md-6">
        <div class="card">
            <div class="card-header">
                vSphere DC
            </div>
            <div class="card-block">
                <div class="card-title">
                    <span class="badge badge-success">online</span>
                </div>
                <div class="card-text">
                    vCenter is online
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">REFRESH</button>
                <button class="btn btn-sm btn-link"><a href="https://vcsa.cpod-vcn2.az-demo.shwrfr.com/" target="_blank">CONSOLE</a></button>
            </div>
        </div>
    </div>
    <div class="clr-col-sm-12 clr-col-md-6">
        <div class="card">
            <div class="card-header">
                vSphere Factory
            </div>
            <div class="card-block">
                <div class="card-title">
                    <span class="badge badge-success">online</span>
                </div>
                <div class="card-text">
                    vCenter is online
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">REFRESH</button>
                <button class="btn btn-sm btn-link"><a href="https://vcsa.cpod-factory2.az-demo.shwrfr.com/" target="_blank">CONSOLE</a></button>
            </div>
        </div>
    </div>
    <div class="clr-col-sm-12 clr-col-md-6">
        <div class="card">
            <div class="card-header">
              App Defense
            </div>
            <div class="card-block">
                <div class="card-title">
                    <span class="badge badge-success">online</span>
                </div>
                <div class="card-text">
                    App Defense is online
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">REFRESH</button>
                <button class="btn btn-sm btn-link"><a href="https://appdefense-live.vmware.com/app/sign-in-user/" target="_blank">CONSOLE</a></button>
            </div>
        </div>
    </div>
    <div class="clr-col-sm-12 clr-col-md-6">
        <div class="card">
            <div class="card-header">
                SDWAN by Velocloud
            </div>
            <div class="card-block">
                <div class="card-title">
                    <span class="badge badge-success">online</span>
                </div>
                <div class="card-text">
                    VCO is online
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">REFRESH</button>
                <button class="btn btn-sm btn-link"><a href="https://vco22-fra1.velocloud.net/" target="_blank">CONSOLE</a></button>
            </div>
        </div>
    </div>
    <div class="clr-col-sm-12 clr-col-md-6">
        <div class="card">
            <div class="card-header">
                vRNI
            </div>
            <div class="card-block">
                <div class="card-title">
                    <span class="badge badge-success">online</span>
                </div>
                <div class="card-text">
                    vRNI is online
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">REFRESH</button>
                <button class="btn btn-sm btn-link"><a href="https://vrni.cpod-vcn2.az-demo.shwrfr.com/" target="_blank">CONSOLE</a></button>
            </div>
        </div>
    </div>
</div>

