<div class="clr-row">
  <div class="clr-col-5">
      <clr-tabs>
          <clr-tab>
              <button clrTabLink>Basic</button>
              <clr-tab-content id="content1" *clrIfActive>
                <clr-select-container>
                    <label>Choose the Application</label>
                    <select clrSelect name="options" [(ngModel)]="vcnpksconfig.application">
                      <option value="TESTAPP">TESTAPP</option>
                      <option value="PLAINSPLOTTER">PLAINSPLOTTER</option>
                      <option value="YELB">YELB</option>
                    </select>
                  </clr-select-container>
  
                <p></p>
  
                <clr-select-container>
                  <label>Choose the PKS Cluster where deploy the Application</label>
                  <select clrSelect name="options" [(ngModel)]="vcnpksconfig.pks">
                    <option value="pks-brazil">pks-brazil</option>
                    <option value="pks-france">pks-france</option>
                    <option value="pks-singapore">pks-singapore</option>
                    <option value="pks-usa">pks-usa</option>
                  </select>
                </clr-select-container>
  
                  <p></p>
  
                <clr-toggle-container>
                  <label>VCN Configuration</label>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option1" checked />
                    <label>Deploy Containers</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnpksconfig.networks" checked />
                    <label>Create Networks</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnpksconfig.security" checked />
                    <label>Enforce NSX Security</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnpksconfig.vrni" checked />
                    <label>Monitor the Application in vRNI</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options" value="option2" [(ngModel)]="vcnpksconfig.wan" checked />
                    <label>Limit WAN Bandwidth</label>
                  </clr-toggle-wrapper>
                </clr-toggle-container>
  
                <div *ngIf="vcnpksconfig.wan">
                  <span><mat-slider (change)="getVcnChanges()" [(ngModel)]="vcnpksconfig.bandwidth" thumbLabel min="1" max="100" step="1"></mat-slider></span>
                  <span>{{vcnpksconfig.bandwidth}}%</span>
                </div>

              </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>NSX</button>
            <clr-tab-content id="content1" >
                <clr-radio-container (change)="getVcnChanges()">
                    <label>Microsegmentation level</label>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="testapp-high" value="testapp-high" [(ngModel)]="vcnpksconfig.level"/>
                      <label>High - Critical Applications, High Protection level, IDS (prod)</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="testapp" value="testapp" [(ngModel)]="vcnpksconfig.level"/>
                      <label>Medium - Standard Security Level (pre-prod & prod)</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio name="testapp-low" value="testapp-low" [(ngModel)]="vcnpksconfig.level"/>
                        <label>Low - Non-Sensitive Environments (non-prod)</label>
                      </clr-radio-wrapper>
                </clr-radio-container>      
            </clr-tab-content>
          </clr-tab>


          <clr-tab>
            <button clrTabLink>Deployment</button>
            <clr-tab-content id="content2" >

                <h6>Choose the number of replicas</h6>
                <span><mat-slider (change)="getVcnChanges()" [(ngModel)]="vcnpksconfig.replicas" thumbLabel min="1" max="10" step="1"></mat-slider></span>
                <span>{{vcnpksconfig.replicas}}</span>

                <h6>Choose the app version</h6>
                <select name="options" (change)="getVcnChanges()" [(ngModel)]="vcnpksconfig.appversion">
                  <option value="v1">v1</option>
                  <option value="v2">v2</option>
                </select>
            </clr-tab-content>
          </clr-tab> 
          <clr-tab>
            <button clrTabLink>Velocloud</button>
            <clr-tab-content id="content2" >  
                    <clr-radio-container (change)="getVcnChanges()">
                        <label>SDWAN Service Class</label>
                        <clr-radio-wrapper>
                          <input type="radio" clrRadio name="class" value="realtime" [(ngModel)]="vcnpksconfig.class"/>
                          <label>Realtime</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                          <input type="radio" clrRadio name="class" value="transactional" [(ngModel)]="vcnpksconfig.class"/>
                          <label>Transactional</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="class" value="bulk" [(ngModel)]="vcnpksconfig.class"/>
                            <label>Bulk</label>
                          </clr-radio-wrapper>
                      </clr-radio-container>
                    
                      <clr-radio-container (change)="getVcnChanges()">
                          <label>SDWAN Link Steering</label>
                          <clr-radio-wrapper>
                            <input type="radio" clrRadio name="link"  value="PRIVATE_WIRED" [(ngModel)]="vcnpksconfig.servicegroup" />
                            <label>Use Private Links only</label>
                          </clr-radio-wrapper>
                          <clr-radio-wrapper>
                            <input type="radio" clrRadio name="link"  value="PUBLIC_WIRED" [(ngModel)]="vcnpksconfig.servicegroup" />
                            <label>Use Public Links only</label>
                          </clr-radio-wrapper>
                          <clr-radio-wrapper>
                              <input type="radio" clrRadio name="link"  value="ALL" [(ngModel)]="vcnpksconfig.servicegroup" />
                              <label>Auto</label>
                            </clr-radio-wrapper>
                        </clr-radio-container>
          
              </clr-tab-content>
          </clr-tab> 
        </clr-tabs>

        <p></p>
  </div>
  <div class="clr-col-7">
      <clr-tabs>
          <clr-tab>
              <button clrTabLink>Plan <span *ngIf="vcnService.pks_loading" class="spinner spinner-inline"></span></button>
              <clr-tab-content id="plan" *clrIfActive>             
                  <code class="language-*"><pre>{{vcnService.vcnpkschanges.output}}</pre></code>   
              </clr-tab-content>
          </clr-tab>
      </clr-tabs>
  </div>
</div>
  
<button (click)="postVcnConfig()" class="btn btn-success">Apply Changes</button>
<button (click)="destroy = true" class="btn btn-danger">Destroy</button>
<button (click)="mdOpen = true" type="button" class="btn btn-icon btn-primary" aria-label="settings"><clr-icon shape="calendar"></clr-icon></button>


<br>
<span class="label label-info">Total: {{vcnService.vcnpkschanges.changes}}</span>
<span class="label label-success">To Create: {{vcnService.vcnpkschanges.tocreate}}</span>
<span class="label label-warning">To Update: {{vcnService.vcnpkschanges.toupdate}}</span>
<span class="label label-danger">To Delete: {{vcnService.vcnpkschanges.todelete}}</span>
<span *ngIf="vcnService.pks_loading" class="spinner spinner-inline"></span>

<h4></h4>
<div class="progress {{vcnService.pks_type}} progress-fade">
    <progress max="{{vcnService.vcnpkschanges.changes}}" value="{{vcnService.vcnpksprogress.changes}}" data-displayval="0%"></progress>
    <span></span>  
</div>

<p></p>

<code class="language-html">
    <ul class="list-unstyled">
      <li *ngFor="let log of vcnService.vcnpksprogress.fullline">{{log}}</li>
    </ul>
</code>

  <clr-modal [(clrModalOpen)]="destroy">
      <h3 class="modal-title">Are you really sure?</h3>
      <div class="modal-body">
          <p>You're going to destroy every resources created by this App</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-warning-outline" (click)="destroy = false">Cancel</button>
          <button type="button" class="btn btn-warning" (click)="destroy = false" (click)="destroyVcn()">Destroy</button>
      </div>
  </clr-modal>
  
<clr-wizard #wizardmd [(clrWizardOpen)]="mdOpen" clrWizardSize="xl" (clrWizardOnFinish)="onSchedule()">
  <clr-wizard-title>Schedule VCN Configuration</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Schedule</clr-wizard-button>

  <clr-wizard-page>
      <ng-template clrPageTitle>Plan the action</ng-template>
      <p-calendar [(ngModel)]="date" [inline]="true" [showWeek]="true" [showTime]="true"></p-calendar>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Type of action</ng-template>
    <clr-radio-wrapper>
      <input type="radio" clrRadio value="apply" name="action" [(ngModel)]="action" />
      <label>Apply</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio value="destroy" name="action"  [(ngModel)]="action" />
      <label>Destroy</label>
    </clr-radio-wrapper>
</clr-wizard-page>

</clr-wizard>