<clr-datagrid>
    <clr-dg-column>Severity</clr-dg-column>
    <clr-dg-column>Rule violated</clr-dg-column>
    <clr-dg-column>Local Address</clr-dg-column>
    <clr-dg-column>Remote Address</clr-dg-column>
    <clr-dg-column>Cli</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *ngFor="let listalert of vcnService.vcnalerts; let i = index">
        <clr-dg-cell>{{listalert.severity}}</clr-dg-cell>
        <clr-dg-cell>{{listalert.ruleViolated}}</clr-dg-cell>
        <clr-dg-cell>{{listalert.violationDetails.localAddress}}<span *ngIf="vcnService.quarantine[i]" class="badge badge-danger">quarantined</span></clr-dg-cell>
        <clr-dg-cell>{{listalert.violationDetails.remoteAddress}}</clr-dg-cell>
        <clr-dg-cell>{{listalert.violationDetails.cli}}</clr-dg-cell>
        <clr-dg-cell><button (click)="quarantine = true; index = i" class="btn btn-primary">Quarantine</button></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer *ngIf="listalerts" >{{listalerts.length}} alert(s)</clr-dg-footer>
</clr-datagrid>


<clr-modal [(clrModalOpen)]="quarantine">
    <h3 class="modal-title">Are you really sure?</h3>
    <div class="modal-body">
        <p>This VM will be put in quarantine. NSX Quarantine Security will be applied and traffic from/to this IP will be blocked at the Velocloud SDWAN Edge level as well. Are you sure you want to proceed?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning-outline" (click)="quarantine = false">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="quarantine = false" (click)="quarantined = true" (click)="quarantineVcn()">Quarantine</button>
    </div>
</clr-modal>
