<clr-datagrid>
  <clr-dg-column>Date</clr-dg-column>
  <clr-dg-column>Cloud</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>

  <clr-dg-row *ngFor="let vcnschedule of vcnschedules; let i = index">
      <clr-dg-cell>{{vcnschedule.date | date :  "dd.MM.y H:mm:ss"}}</clr-dg-cell>
      <clr-dg-cell>{{vcnschedule.config.id}}</clr-dg-cell>
      <clr-dg-cell>{{vcnschedule.action}}
        <clr-signpost>
        <clr-signpost-content *clrIfOpen>
            <h3>VCN Configuration</h3>
            <div *ngFor="let item of vcnschedule.config | keyvalue">{{item.key}}:{{item.value}}</div>
        </clr-signpost-content>
        </clr-signpost>
      </clr-dg-cell>
      <clr-dg-cell><span *ngIf="!vcnschedule.completed" class="badge badge-info">planned</span><span *ngIf="vcnschedule.completed" class="badge badge-success">completed</span>
        <span (click)="delete = true; schedule_to_delete = vcnschedules[i].id" class="badge badge-danger">delete</span>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer *ngIf="vcnschedules" >{{vcnschedules.length}} tasks(s)</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="delete">
  <h3 class="modal-title">Are you really sure?</h3>
  <div class="modal-body">
      <p>You're going to delete this scheduled task. Are you sure you want to proceed?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-warning-outline" (click)="delete = false">Cancel</button>
      <button type="button" class="btn btn-warning" (click)="delete = false; cancelSchedule()">Delete</button>
  </div>
</clr-modal>
