<div class="clr-row">
  <div class="clr-col-5">
      <clr-tabs>
          <clr-tab>
              <button clrTabLink>Basic</button>
              <clr-tab-content id="content1" *clrIfActive>
                <clr-select-container>
                    <label>Choose the Application</label>
                    <select clrSelect name="options" [(ngModel)]="vcncloudconfig.application">
                      <option value="TESTAPP">TESTAPP</option>
                      <option value="PLAINSPLOTTER">PLAINSPLOTTER</option>
                      <option value="YELB">YELB</option>
                    </select>
                </clr-select-container>
  
                <p></p>
  
                <clr-select-container>
                  <label>Choose the region where deploy the Application</label>
                  <select clrSelect name="options" [(ngModel)]="vcncloudconfig.region">
                    <option value="NVirginia">N. Virginia</option>
                    <option value="Ohio">Ohio</option>
                    <option value="NCalifornia">N. California</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Seoul">Seoul</option>
                    <option value="Singapour">Singapour</option>
                    <option value="Sydney">Sydney</option>
                    <option value="Tokyo">Tokyo</option>
                    <option value="Central">Central</option>
                    <option value="Frankfurt">Frankfurt</option>
                    <option value="Ireland">Ireland</option>
                    <option value="London">London</option>
                    <option value="Paris">Paris</option>
                    <option value="Stockholm">Stockholm</option>
                    <option value="Sao Paulo">Sao Paulo</option>
                  </select>
                </clr-select-container>
  
                  <p></p>
  
                <clr-toggle-container>
                  <label>VCN Configuration</label>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option1" checked />
                    <label>Deploy Instances</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcncloudconfig.networks" checked />
                    <label>Create Networks</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcncloudconfig.security" checked />
                    <label>Enforce NSX Security</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcncloudconfig.vrni" checked />
                    <label>Monitor the Application in vRNI</label>
                  </clr-toggle-wrapper>
                  <clr-toggle-wrapper>
                    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcncloudconfig.wan" checked />
                    <label>Limit WAN Bandwidth</label>
                  </clr-toggle-wrapper>
                </clr-toggle-container>

                <div *ngIf="vcncloudconfig.wan">
                  <span><mat-slider (change)="getVcnChanges()" [(ngModel)]="vcncloudconfig.bandwidth" thumbLabel min="1" max="100" step="1"></mat-slider></span>
                  <span>{{vcncloudconfig.bandwidth}}%</span>
                </div>
              </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>NSX</button>
            <clr-tab-content id="content1" >  
                <clr-radio-container (change)="getVcnChanges()">
                    <label>Microsegmentation level</label>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="nsx" value="high" />
                      <label>High</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                      <input type="radio" clrRadio name="nsx" value="medium" />
                      <label>Medium</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio name="nsx" value="low" />
                        <label>Low</label>
                      </clr-radio-wrapper>
                </clr-radio-container>         
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
              <button clrTabLink>vRNI</button>
              <clr-tab-content id="content1" >        
                  <clr-checkbox-container (change)="getVcnChanges()">
                      <label>vRNI</label>
                      <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox name="options" value="vrni1" [(ngModel)]="vcncloudconfig.vrni"/>
                        <label>Modelize the Application</label>
                      </clr-checkbox-wrapper>
                      <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox name="options" value="vrni2" [(ngModel)]="vcncloudconfig.threshold"/>
                        <label>Create thresholds</label>
                      </clr-checkbox-wrapper>
                    </clr-checkbox-container>
          </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Velocloud</button>
            <clr-tab-content id="content2" >  
                    <clr-radio-container (change)="getVcnChanges()">
                        <label>SDWAN Service Class</label>
                        <clr-radio-wrapper>
                          <input type="radio" clrRadio name="class" value="realtime" [(ngModel)]="vcncloudconfig.class"/>
                          <label>Realtime</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                          <input type="radio" clrRadio name="class" value="transactional" [(ngModel)]="vcncloudconfig.class"/>
                          <label>Transactional</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="class" value="bulk" [(ngModel)]="vcncloudconfig.class"/>
                            <label>Bulk</label>
                          </clr-radio-wrapper>
                      </clr-radio-container>
                    
                      <clr-radio-container (change)="getVcnChanges()">
                          <label>SDWAN Link Steering</label>
                          <clr-radio-wrapper>
                            <input type="radio" clrRadio name="link"  value="PRIVATE_WIRED" [(ngModel)]="vcncloudconfig.servicegroup" />
                            <label>Use Private Links only</label>
                          </clr-radio-wrapper>
                          <clr-radio-wrapper>
                            <input type="radio" clrRadio name="link"  value="PUBLIC_WIRED" [(ngModel)]="vcncloudconfig.servicegroup" />
                            <label>Use Public Links only</label>
                          </clr-radio-wrapper>
                          <clr-radio-wrapper>
                              <input type="radio" clrRadio name="link"  value="ALL" [(ngModel)]="vcncloudconfig.servicegroup" />
                              <label>Auto</label>
                            </clr-radio-wrapper>
                        </clr-radio-container>

              </clr-tab-content>
          </clr-tab>

      </clr-tabs>

      <p></p>

  </div>
  <div class="clr-col-7">
      <clr-tabs>
          <clr-tab>
              <button clrTabLink>Plan <span *ngIf="vcnService.cloud_loading" class="spinner spinner-inline"></span></button>
              <clr-tab-content id="plan" *clrIfActive>             
                  <code class="language-*"><pre>{{vcnService.vcncloudchanges.output}}</pre></code>   
              </clr-tab-content>
          </clr-tab>
      </clr-tabs>
  </div>
</div>
  
  
<button (click)="postVcnConfig()" class="btn btn-success">Apply Changes</button>
<button (click)="destroy = true" class="btn btn-danger">Destroy</button>
<button (click)="mdOpen = true" type="button" class="btn btn-icon btn-primary" aria-label="settings"><clr-icon shape="calendar"></clr-icon></button>


<br>
<span class="label label-info">Total: {{vcnService.vcncloudchanges.changes}}</span>
<span class="label label-success">To Create: {{vcnService.vcncloudchanges.tocreate}}</span>
<span class="label label-warning">To Update: {{vcnService.vcncloudchanges.toupdate}}</span>
<span class="label label-danger">To Delete: {{vcnService.vcncloudchanges.todelete}}</span>
<span *ngIf="vcnService.cloud_loading" class="spinner spinner-inline"></span>


<h4></h4>
<div class="progress {{vcnService.cloud_type}} labeled">
    <progress max="{{vcnService.vcncloudchanges.changes}}" value="{{vcnService.vcncloudprogress.changes}}" data-displayval="0%"></progress>
    <span></span>  
</div>

<p>
</p>

<code class="language-html">
    <ul class="list-unstyled">
      <li *ngFor="let log of vcnService.vcncloudprogress.fullline">{{log}}</li>
    </ul>
</code>

<clr-modal [(clrModalOpen)]="destroy">
    <h3 class="modal-title">Are you really sure?</h3>
    <div class="modal-body">
        <p>You're going to destroy every resources created by this App</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning-outline" (click)="destroy = false">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="destroy = false" (click)="destroyVcn()">Destroy</button>
    </div>
</clr-modal>

<clr-wizard #wizardmd [(clrWizardOpen)]="mdOpen" clrWizardSize="xl" (clrWizardOnFinish)="onSchedule()">
    <clr-wizard-title>Schedule VCN Configuration</clr-wizard-title>
  
    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Schedule</clr-wizard-button>
  
    <clr-wizard-page>
        <ng-template clrPageTitle>Plan the action</ng-template>
        <p-calendar [(ngModel)]="date" [inline]="true" [showWeek]="true" [showTime]="true"></p-calendar>
    </clr-wizard-page>
  
    <clr-wizard-page>
      <ng-template clrPageTitle>Type of action</ng-template>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="apply" name="action" [(ngModel)]="action" />
        <label>Apply</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="destroy" name="action"  [(ngModel)]="action" />
        <label>Destroy</label>
      </clr-radio-wrapper>
  </clr-wizard-page>
  
  </clr-wizard>
  