<div class="login-wrapper">
    <form class="login" (ngSubmit)="onSubmit()">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            VCN App Demo
            <h5 class="hint">Use this App to illustrate the benefits of VCN</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" [(ngModel)]="credentials.username" clrInput placeholder="Username"/>
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" [(ngModel)]="credentials.password" clrPassword placeholder="Password"/>
            </clr-password-container>
            <div *ngIf="error" class="error active">
                Invalid user name or password
            </div>

            <button type="submit" class="btn btn-primary">LOGIN</button>
            <a href="javascript://" class="signup">Sign up for an account</a>
        </div>
    </form>
</div>