
/*
.login-wrapper {
    background-image: url(/assets/groupama.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    height: 100%;
    width: 100%;
    background-position: right center;
  }
  */
  

