
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
  <div *ngFor='let vcnedge of vcnedges'>
    <agm-marker (drag)="markerDrag($event, vcnedge);" (dragStart)="markerDragStart($event, vcnedge);" (dragEnd)="markerDragEnd($event, vcnedge); move = true" latitude={{vcnedge.site.lat}} longitude={{vcnedge.site.lon}} [label]="pBox" title={{vcnedge.name}} [iconUrl]="icon" [markerDraggable]="true" >
      <agm-info-window>
        <span>Name: {{vcnedge.name}}</span><br>
        <span>Model: {{vcnedge.modelNumber}}</span><br>
        <span>City: {{vcnedge.name}}</span><br>
        <br><br>
        <a routerLink="../vmc" routerLinkActive="active">Evacuate these workloads to VMC</a>
      </agm-info-window>
    </agm-marker>
  </div> 
  <agm-marker latitude='1.290270' longitude='103.851959' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Singapore</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='45.516136' longitude='-73.656830' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Montreal</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='48.866667' longitude='2.333333' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Paris</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='37.926868' longitude='-78.024902' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Virginia</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='36.778259' longitude='-119.417931' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>California</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='50.110924' longitude='8.682127' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Frankfurt</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='53.350140' longitude='-6.266155' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Ireland</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='51.509865' longitude='-0.118092' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>London</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='-33.865143' longitude='151.209900' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Sydney</span><br>
    </agm-info-window>
  </agm-marker>
  <agm-marker latitude='35.652832' longitude='139.839478' [iconUrl]="vmcicon" [markerDraggable]="false" >
    <agm-info-window>
      <span>Tokyo</span><br>
    </agm-info-window>
  </agm-marker>
    
</agm-map>
<span *ngIf="!vcnedges.length">Loading edges informations from the VCO....</span>

<clr-modal [(clrModalOpen)]="move">
  <h3 class="modal-title">Are you really sure?</h3>
  <div class="modal-body">
      <p>You're going to evacuate these workloads from <span class="label label-light-blue">{{selected_edge.name}}</span> to VMC on AWS.</p>
      <p>HCX will be leveraged and VMs will move to VMC without any interruption.</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary-outline" (click)="move = false; getVcnEdges()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="move = false; migrateHcx()">Evacuate</button>
  </div>
</clr-modal>
