<clr-tabs>
    <clr-tab>
        <button clrTabLink>Flows</button>
        <clr-tab-content id="flows" *clrIfActive>
                <div class="limit-height">
                        <clr-datagrid [clrDgLoading]="Loading">
                            <clr-dg-column [clrDgField]="'srcIps[0]'">Src IP</clr-dg-column>
                            <clr-dg-column [clrDgField]="'dstIps[0]'">Dst IP</clr-dg-column>
                    
                            <clr-dg-column [clrDgField]="'srcPort'">Src Port</clr-dg-column>
                            <clr-dg-column [clrDgField]="'dstPort'">Dest Port</clr-dg-column>
                       
                            <clr-dg-column [clrDgField]="'srcFlowAction'">Src FW Action</clr-dg-column> 
                            <clr-dg-column [clrDgField]="'dstFlowAction'">Dest FW Action</clr-dg-column>

                            <clr-dg-column [clrDgField]="'srcDefaultRuleHit'">Src Default Hit</clr-dg-column> 
                            <clr-dg-column [clrDgField]="'dstDefaultRuleHit'">Dest Default Hit</clr-dg-column>

                            <clr-dg-column [clrDgField]="'lastStartTime'">Last Start Time</clr-dg-column> 
                            <clr-dg-column [clrDgField]="'lastEndTime'">Last End Time</clr-dg-column>
                            
                    
                            <clr-dg-row *ngFor="let vcnflow of VcnFlows">
                                <clr-dg-cell>{{vcnflow.srcIps[0]}}</clr-dg-cell>
                                <clr-dg-cell>{{vcnflow.dstIps[0]}}</clr-dg-cell>
                    
                                <clr-dg-cell>{{vcnflow.srcPort}}</clr-dg-cell> 
                                <clr-dg-cell>{{vcnflow.dstPort}}</clr-dg-cell>
                    
                                <clr-dg-cell>{{vcnflow.srcFlowAction}}</clr-dg-cell>
                                <clr-dg-cell>{{vcnflow.dstFlowAction}}</clr-dg-cell>

                                <clr-dg-cell>{{vcnflow.srcDefaultRuleHit}}</clr-dg-cell>
                                <clr-dg-cell>{{vcnflow.dstDefaultRuleHit}}</clr-dg-cell>
                                
                                <clr-dg-cell>{{vcnflow.lastStartTime | date:'h:mm:ss a z'}}</clr-dg-cell>
                                <clr-dg-cell>{{vcnflow.lastEndTime | date:'h:mm:ss a z'}}</clr-dg-cell> 
                                                          
                            </clr-dg-row>
                    
                            <clr-dg-footer>
                                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                        {{VcnFlows.length}} flows
                                    </clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>
                    </div>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Graph</button>
        <clr-tab-content>
            <button (click)="StartCapture()" class="btn btn-success">Start Capture</button>
            <button (click)="Refresh()" class="btn btn-primary">Refresh</button>
            <button (click)="StopCapture()" class="btn btn-warning">Stop Capture</button>

            <span>Number of flows:<mat-slider thumbLabel min="1" max="1000" step="10" [(ngModel)]="nb_flows" ></mat-slider></span>
            <span>{{nb_flows}} flows  </span>

            <button (click)="LayoutGrid()" class="btn btn-primary">Concentric</button>
            <button (click)="LayoutRandom()" class="btn btn-primary">Random</button>
            <button (click)="LayoutCose()" class="btn btn-primary">Cose</button>
            <button (click)="LayoutCircle()" class="btn btn-primary">Circle</button>
           
            <div id="cy">
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>



