<clr-select-container>
  <label>Choose the Application</label>
  <select clrSelect name="options" [(ngModel)]="vcnvmcconfig.application">
    <option value="TESTAPP">TESTAPP</option>
    <option value="PLAINSPLOTTER">PLAINSPLOTTER</option>
    <option value="YELB">YELB</option>
  </select>
</clr-select-container>

<p></p>

<clr-select-container>
  <label>Choose the VMC SDDC where deploy the Application</label>
  <select clrSelect name="options" [(ngModel)]="vcnvmcconfig.sddc">
    <option value="NVirginia">N. Virginia</option>
    <option value="Ohio">Ohio</option>
    <option value="NCalifornia">N. California</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Seoul">Seoul</option>
    <option value="Singapour">Singapour</option>
    <option value="Sydney">Sydney</option>
    <option value="Tokyo">Tokyo</option>
    <option value="Central">Central</option>
    <option value="Frankfurt">Frankfurt</option>
    <option value="Ireland">Ireland</option>
    <option value="London">London</option>
    <option value="Paris">Paris</option>
    <option value="Stockholm">Stockholm</option>
    <option value="Sao Paulo">Sao Paulo</option>
  </select>
</clr-select-container>

<p></p>

<clr-toggle-container>
  <label>VCN Configuration</label>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option1" checked />
    <label>Deploy Virtual Machines</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnvmcconfig.networks" checked />
    <label>Create Networks</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnvmcconfig.security" checked />
    <label>Enforce NSX Security</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnvmcconfig.vrni" checked />
    <label>Monitor the Application in vRNI</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnvmcconfig.wan" checked />
    <label>Limit WAN Bandwidth</label>
  </clr-toggle-wrapper>
</clr-toggle-container>

<clr-select-container *ngIf="vcnvmcconfig.wan">
  <label>Select the SDWAN Bandwidth limit</label>
  <select (change)="getVcnChanges()" [(ngModel)]="vcnvmcconfig.bandwidth" clrSelect name="options">
    <option value="0">0%</option>
    <option value="10">10%</option>
    <option value="20">20%</option>
    <option value="30">30%</option>
    <option value="40">40%</option>
    <option value="50">50%</option>
    <option value="60">60%</option>
    <option value="70">70%</option>
    <option value="80">80%</option>
    <option value="90">90%</option>
    <option value="100">100%</option>
  </select>
</clr-select-container>

<p></p>


<button (click)="postVcnConfig()" class="btn btn-success">Apply Changes</button>
<button (click)="destroy = true" class="btn btn-danger">Destroy</button>

<br>
<span class="label label-info">Total: {{vcnvmcchanges.changes}}</span>
<span class="label label-success">To Create: {{vcnvmcchanges.tocreate}}</span>
<span class="label label-warning">To Update: {{vcnvmcchanges.toupdate}}</span>
<span class="label label-danger">To Delete: {{vcnvmcchanges.todelete}}</span>
<span *ngIf="loading" class="spinner spinner-inline"></span>


<h4>Progress</h4>
<div class="progress {{progress}} labeled">
    <progress max="{{vcnvmcchanges.changes}}" value="{{vcnvmcprogress.changes}}" data-displayval="0%"></progress>
    <span></span>  
</div>

<p>
</p>

<code class="language-html">
    <ul class="list-unstyled">
      <li *ngFor="let log of vcnvmcprogress.fullline">{{log}}</li>
    </ul>
</code>

<clr-modal [(clrModalOpen)]="destroy">
    <h3 class="modal-title">Are you really sure?</h3>
    <div class="modal-body">
        <p>You're going to destroy every resources created by this App</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning-outline" (click)="destroy = false">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="destroy = false" (click)="destroyVcn()">Destroy</button>
    </div>
</clr-modal>

