<div class="clr-row">
  <div class="clr-col-5">
      <clr-tabs>
          <clr-tab>
              <button clrTabLink>Basic</button>
              <clr-tab-content id="content1" *clrIfActive>
<clr-select-container>
  <label>Choose the Application</label>
  <select clrSelect name="options" [(ngModel)]="vcnfactoryconfig.application">
    <option value="TESTAPP">TESTAPP</option>
    <option value="PLAINSPLOTTER">PLAINSPLOTTER</option>
    <option value="YELB">YELB</option>
  </select>
</clr-select-container>

<p></p>

<clr-select-container>
  <label>Choose the site where deploy the Application</label>
  <select clrSelect name="options" [(ngModel)]="vcnfactoryconfig.site">
    <option value="Australia">Australia</option>
    <option value="China">China</option>
    <option value="France">France</option>
    <option value="Indonesia">Indonesia</option>
    <option value="Japan">Japan</option>
    <option value="Korea">Korea</option>
    <option value="Malesia">Malesia</option>
    <option value="Singapore">Singapore</option>
    <option value="Taiwan">Taiwan</option>
    <option value="Tailand">Tailand</option>
    <option value="Vietnam">Vietnam</option>
  </select>
</clr-select-container>

<p></p>

<clr-toggle-container>
  <label>VCN Configuration</label>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option1" [(ngModel)]="vcnfactoryconfig.vm" checked />
    <label>Deploy Virtual Machines</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnfactoryconfig.networks" checked />
    <label>Create Virtual Networks</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnfactoryconfig.security" checked />
    <label>Enforce NSX Security</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnfactoryconfig.vrni" checked />
    <label>Monitor the Application in vRNI</label>
  </clr-toggle-wrapper>
  <clr-toggle-wrapper>
    <input (change)="getVcnChanges()" type="checkbox" clrToggle name="options"  value="option2" [(ngModel)]="vcnfactoryconfig.wan" checked />
    <label>Limit WAN Bandwidth</label>
  </clr-toggle-wrapper>
</clr-toggle-container>

<div *ngIf="vcnfactoryconfig.wan"><mat-slider (change)="getVcnChanges()" [(ngModel)]="vcnfactoryconfig.bandwidth" thumbLabel min="1" max="100" step="1"></mat-slider>
  <span>{{vcnfactoryconfig.bandwidth}}%</span>
</div>
</clr-tab-content>
</clr-tab>
<clr-tab>
  <button clrTabLink>NSX</button>
  <clr-tab-content id="content1" >
      <clr-radio-container (change)="getVcnChanges()">
          <label>Microsegmentation level</label>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="testapp-high" value="testapp-high" [(ngModel)]="vcnfactoryconfig.level"/>
            <label>High - Critical Applications, High Protection level, IDS (prod)</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="testapp" value="testapp" [(ngModel)]="vcnfactoryconfig.level"/>
            <label>Medium - Standard Security Level (pre-prod & prod)</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
              <input type="radio" clrRadio name="testapp-low" value="testapp-low" [(ngModel)]="vcnfactoryconfig.level"/>
              <label>Low - Non-Sensitive Environments (non-prod)</label>
            </clr-radio-wrapper>
      </clr-radio-container>      
  </clr-tab-content>
</clr-tab>
<clr-tab>
  <button clrTabLink>AVI Networks</button>
  <clr-tab-content id="content1" >
      <clr-checkbox-container (change)="getVcnChanges()">
        <label>AVI Networks</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="avi" value="avi" [(ngModel)]="vcnfactoryconfig.avi"/>
          <label>Create a VIP for the frontends</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="gslb" value="gslb" [(ngModel)]="vcnfactoryconfig.gslb"/>
          <label>Manage the DNS entry in the GSLB</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="waf" value="waf" [(ngModel)]="vcnfactoryconfig.waf"/>
            <label>Protect the application with WAF</label>
          </clr-checkbox-wrapper>  
      </clr-checkbox-container>
  </clr-tab-content>
</clr-tab>
<clr-tab>
    <button clrTabLink>vRNI</button>
    <clr-tab-content id="content1" >        
        <clr-checkbox-container (change)="getVcnChanges()">
            <label>vRNI</label>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="options" value="vrni1" [(ngModel)]="vcnfactoryconfig.vrni"/>
              <label>Modelize the Application</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="options" value="vrni2" [(ngModel)]="vcnfactoryconfig.threshold"/>
              <label>Create thresholds</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
</clr-tab-content>
</clr-tab>
<clr-tab>
  <button clrTabLink>Velocloud</button>
  <clr-tab-content id="content2" >  
          <clr-radio-container (change)="getVcnChanges()">
              <label>SDWAN Service Class</label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="class" value="realtime" [(ngModel)]="vcnfactoryconfig.class"/>
                <label>Realtime</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="class" value="transactional" [(ngModel)]="vcnfactoryconfig.class"/>
                <label>Transactional</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                  <input type="radio" clrRadio name="class" value="bulk" [(ngModel)]="vcnfactoryconfig.class"/>
                  <label>Bulk</label>
                </clr-radio-wrapper>
            </clr-radio-container>
          
            <clr-radio-container (change)="getVcnChanges()">
                <label>SDWAN Link Steering</label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="link"  value="PRIVATE_WIRED" [(ngModel)]="vcnfactoryconfig.servicegroup" />
                  <label>Use Private Links only</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="link"  value="PUBLIC_WIRED" [(ngModel)]="vcnfactoryconfig.servicegroup" />
                  <label>Use Public Links only</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="link"  value="ALL" [(ngModel)]="vcnfactoryconfig.servicegroup" />
                    <label>Auto</label>
                  </clr-radio-wrapper>
              </clr-radio-container>

    </clr-tab-content>
</clr-tab>
<clr-tab>
  <button clrTabLink>HCX</button>
  <clr-tab-content id="content1" >
      <clr-checkbox-container (change)="getVcnChanges()">
        <label>Extend the network</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="hcx" value="hcx" [(ngModel)]="vcnfactoryconfig.hcx"/>
          <label>Create a L2 network extension</label>
        </clr-checkbox-wrapper>  
      </clr-checkbox-container> 

      <clr-checkbox-container (change)="getVcnChanges()">
        <label>Protect the VMs</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="hcx" value="hcx" [(ngModel)]="vcnfactoryconfig.hcx"/>
          <label>Protect VMs with HCX</label>
        </clr-checkbox-wrapper>  
      </clr-checkbox-container> 

  </clr-tab-content>
</clr-tab>
</clr-tabs>



  
  
</div>

<div class="clr-col-7">
    <clr-tabs>
        <clr-tab>
            <button clrTabLink>Plan <span *ngIf="vcnService.vms_loading" class="spinner spinner-inline"></span></button>
            <clr-tab-content id="plan" *clrIfActive>             
                <code class="language-*"><pre>{{vcnService.vcnfactorychanges.output}}</pre></code>   
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

<!--
    <code class="language-*"><pre>{{vcnService.vcnfactorychanges.output}}</pre></code>

    <ngx-charts-polar-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendTitle]="Availability"
    [animations]=false
    [legendPosition]="below"
    (select)="onSelect($event)">
  </ngx-charts-polar-chart>
-->


</div>

</div>

<p></p>
  
<button (click)="postVcnConfig()" class="btn btn-success">Apply Changes</button>
<button (click)="destroy = true" class="btn btn-danger">Destroy</button>
<button (click)="mdOpen = true" type="button" class="btn btn-icon btn-primary" aria-label="settings"><clr-icon shape="calendar"></clr-icon></button>
  
<br>
<span class="label label-info">Total: {{vcnService.vcnfactorychanges.changes}}</span>
<span class="label label-success">To Create: {{vcnService.vcnfactorychanges.tocreate}}</span>
<span class="label label-warning">To Update: {{vcnService.vcnfactorychanges.toupdate}}</span>
<span class="label label-danger">To Delete: {{vcnService.vcnfactorychanges.todelete}}</span>
<span *ngIf="vcnService.vms_loading" class="spinner spinner-inline"></span>

<div>
  <h4></h4>
    <div class="progress {{vcnService.vms_type}} labeled">
        <progress max="{{vcnService.vcnfactorychanges.changes}}" value="{{vcnService.vcnfactoryprogress.changes}}" data-displayval="0%"></progress>
        <span></span>  
    </div>

    <p></p>

</div>  

<code class="language-html">
  <ul class="list-unstyled">
    <li *ngFor="let log of vcnService.vcnfactoryprogress.fullline">{{log}}</li>
  </ul>
  </code>

<clr-modal [(clrModalOpen)]="destroy">
    <h3 class="modal-title">Are you really sure?</h3>
    <div class="modal-body">
        <p>You're going to destroy every resources created by this App</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning-outline" (click)="destroy = false">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="destroy = false" (click)="destroyVcn()">Destroy</button>
    </div>
</clr-modal>

<clr-wizard #wizardmd [(clrWizardOpen)]="mdOpen" clrWizardSize="xl" (clrWizardOnFinish)="onSchedule()">
  <clr-wizard-title>Schedule VCN Configuration</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Schedule</clr-wizard-button>

  <clr-wizard-page>
      <ng-template clrPageTitle>Plan the action</ng-template>
      <p-calendar [(ngModel)]="date" [inline]="true" [showWeek]="true" [showTime]="true"></p-calendar>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Type of action</ng-template>
    <clr-radio-wrapper>
      <input type="radio" clrRadio value="apply" name="action" [(ngModel)]="action" />
      <label>Apply</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio value="destroy" name="action"  [(ngModel)]="action" />
      <label>Destroy</label>
    </clr-radio-wrapper>
</clr-wizard-page>

</clr-wizard>



