/* You can add global styles to this file, and also import other style files */
.mat-slider-horizontal {
    width: 300px;
  }

.mat-slider-track-fill {
    background-color:#04d415;
}

body .loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}

body .loader .dots {
  display: flex;
  position: relative;
  top: 20px;
  left: -10px;
  width: 100px;
  -webkit-animation: dots 2s ease infinite 1s;
          animation: dots 2s ease infinite 1s;
}

body .loader .dots div {
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: black;
}
body .loader .dots div:nth-child(1) {
  width: 0px;
  height: 0px;
  margin: 5px;
  margin-right: 15px;
  -webkit-animation: show-dot 2s ease-out infinite 1s;
          animation: show-dot 2s ease-out infinite 1s;
}
body .loader .dots div:nth-child(4) {
  background-color: transparent;
  -webkit-animation: dot-fall-left 2s linear infinite 1s;
          animation: dot-fall-left 2s linear infinite 1s;
}
body .loader .dots div:nth-child(4):before {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: black;
  content: '';
  -webkit-animation: dot-fall-top 2s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;
          animation: dot-fall-top 2s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;
}

@-webkit-keyframes dots {
  0% {
    left: -10px;
  }
  20%,100% {
    left: 10px;
  }
}

@keyframes dots {
  0% {
    left: -10px;
  }
  20%,100% {
    left: 10px;
  }
}
@-webkit-keyframes show-dot {
  0%,20% {
    width: 0px;
    height: 0px;
    margin: 5px;
    margin-right: 15px;
  }
  30%,100% {
    width: 10px;
    height: 10px;
    margin: 0px;
    margin-right: 10px;
  }
}
@keyframes show-dot {
  0%,20% {
    width: 0px;
    height: 0px;
    margin: 5px;
    margin-right: 15px;
  }
  30%,100% {
    width: 10px;
    height: 10px;
    margin: 0px;
    margin-right: 10px;
  }
}
@-webkit-keyframes dot-fall-left {
  0%, 5% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
}
@keyframes dot-fall-left {
  0%, 5% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
}
@-webkit-keyframes dot-fall-top {
  0%, 5% {
    top: 0px;
  }
  30%,100% {
    top: 50vh;
  }
}
@keyframes dot-fall-top {
  0%, 5% {
    top: 0px;
  }
  30%,100% {
    top: 50vh;
  }
}

.loader {
  background: radial-gradient(#222922, #000500);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0 0 30px;
  text-align: center;
}

.word {
  bottom: 0;
  color: #fff;
  font-size: 2.5em;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  top: 0
}

.word span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 500ms;
}

.word .done {
  color: #6f6;
  transform: translateX(0) scale(1);
}

.overlay {
  background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);
  background-size: 1000px 2px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
