<div class=WordSection1>

    <p class=MsoNormal><span lang=FR style='mso-ansi-language:FR'></span></p>
    
    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
      style='font-size:16.0pt;mso-bidi-font-size:12.0pt'>VCN App documentation</span></b></p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal><span style='mso-no-proof:yes'><img border=0 width=1234 height=1104
    src="assets/vcn-doc.fld/image001.png" v:shapes="Picture_x0020_1"></span></p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal>Check if all the services are up and running. This means that’s
    the demo is ready to be used.</p>
    
    <p class=MsoNormal><span style='mso-no-proof:yes'><img border=0 width=1234 height=1104
    src="assets/vcn-doc.fld/image002.png" v:shapes="Picture_x0020_2"></span></p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
    style='font-size:16.0pt;mso-bidi-font-size:12.0pt'>Use case 1: Full VCN
    Automation</span></b></p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal>Go to Virtual Machine section</p>
    
    <p class=MsoNormal><span style='mso-no-proof:yes'><img border=0 width=1234 height=1104
    src="assets/vcn-doc.fld/image003.png" v:shapes="Picture_x0020_3"></span></p>
    
    <p class=MsoNormal>Play with switches to see how it handles the number of
    changes to be made on the infrastructure.</p>
    
    <p class=MsoNormal>Select a specific bandwidth for the application to be
    deployed. This app could be in testing or pre-prod phase and we can cap the WAN
    utilization.</p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal>When you’re ready to proceed, click <span class=SpellE><b
    style='mso-bidi-font-weight:normal'>Appy</b></span><b style='mso-bidi-font-weight:
    normal'> Changes</b>.</p>
    
    <p class=MsoNormal>Depending of your choices, the whole apply process takes
    about 2 minutes.</p>
    
    <p class=MsoNormal>You can watch at the logs during the deployment.</p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal><span style='mso-no-proof:yes'><img border=0 width=1234 height=1104
    src="assets/vcn-doc.fld/image004.png" v:shapes="Picture_x0020_4"></span></p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal>Connect to Velocloud Console and see that the new deployed
    subnet is already in the OFC table <i style='mso-bidi-font-style:normal'>(Go to
    Configure, Overlay Flow Control, and search for the prefix 172.31.64.0/24).</i></p>
    
    <p class=MsoNormal>You can see the VPN exit for this prefix. Because it’s a
    demo, we have only 1 remote site, and this site will always be <span
    class=SpellE><b style='mso-bidi-font-weight:normal'>vEdgeMelbourne</b></span>.</p>
    
    <p class=MsoNormal><span style='mso-no-proof:yes'><img border=0 width=1234 height=1104
    src="assets/vcn-doc.fld/image005.png" v:shapes="Picture_x0020_5"></span></p>
    
    <p class=MsoNormal>Then, go to the Profiles section, and show that a new
    Business Policy has been created, and the bandwidth you specified is applied as
    a bandwidth cap<i style='mso-bidi-font-style:normal'>. (Go to Configure,
    Profiles, select tf_profile2, then Business Policy)</i></p>
    
    <p class=MsoNormal><span style='mso-no-proof:yes'><img border=0 width=1234 height=1104
    src="assets/vcn-doc.fld/image006.png" v:shapes="Picture_x0020_6"></span></p>
    
    <p class=MsoNormal></p>
    
    <p class=MsoNormal></p>
    
    </div>