<clr-main-container>
  <clr-alert  [clrAlertClosed]="!vcnalerts.totalElements" [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
      <clr-alert-item>
          <span class="alert-text">
              An alert has been detected by App Defense.
          </span>
          <div class="alert-actions">
              <button class="btn alert-action" routerLink="./alerts" routerLinkActive="active">Quarantine</button>
          </div>
      </clr-alert-item>
  </clr-alert>
<clr-header class="header header-7">
  <div class="branding">
    <a href="#" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">VCN App - Connect and Protect your business</span>
    </a>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
              {{user.username}}
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a href="..." clrDropdownItem>Preferences</a>
              <a href="/" clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
    <a routerLink="./help" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="library"></clr-icon>
    </a>
    <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="info-standard" (click)="info = true"></clr-icon>
    </a>
</div>

</clr-header>
<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <clr-vertical-nav>
    <a clrVerticalNavLink routerLink="./status" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
        Dashboard
    </a>
    <a clrVerticalNavLink routerLink="./vms" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="vm"></clr-icon>
        Virtual Machines <span *ngIf="vcnService.vms_deploying" class="spinner spinner-inline"></span>
    </a>
    <a clrVerticalNavLink routerLink="./containers" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="container"></clr-icon>
        Containers <span *ngIf="vcnService.pks_deploying" class="spinner spinner-inline"></span>
    </a>
    <a clrVerticalNavLink routerLink="./hybrid" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="world"></clr-icon>
      Hybrid Deployment
  </a>
    <a clrVerticalNavLink routerLink="./cloud" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="cloud"></clr-icon>
      Native Public Clouds <span *ngIf="vcnService.cloud_deploying" class="spinner spinner-inline"></span>
    </a>
    <a clrVerticalNavLink routerLink="./vmc" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="cloud-traffic"></clr-icon>
      VMC on AWS
    </a>
    <a clrVerticalNavLink routerLink="./alerts" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="warning-standard"></clr-icon>
    Security Alerts   <span *ngIf="vcnalerts.totalElements" class="badge badge-danger">{{vcnalerts.totalElements}}</span>
    </a>
    <a clrVerticalNavLink routerLink="./schedule" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="calendar"></clr-icon>
    Scheduled Tasks
    </a>
    <a clrVerticalNavLink routerLink="./sdwan" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="cloud-network"></clr-icon>
      SDWAN  <span *ngIf="loading" class="spinner spinner-inline"></span><span *ngIf="vcnedges.length" class="badge" >{{vcnedges.length}}</span>
    </a>
    <a clrVerticalNavLink routerLink="./flows" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="eye"></clr-icon>
    Flows
    </a>
    <a clrVerticalNavLink routerLink="./build" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="wrench"></clr-icon>
    Tools
    </a>
</clr-vertical-nav>
</div>
</clr-main-container>

<clr-modal [(clrModalOpen)]="info">
  <h3 class="modal-title">About VCN App</h3>
  <div class="modal-body">
      <p class="p1">Version Beta 0.1</p>
      <p class="p5">Copyright © 2014-2019 VMware, Inc. All rights reserved. This product is protected by copyright and intellectual property laws in the United States and other countries as well as by international treaties. VMware products are covered by one or more patents listed at: <a>https://www.vmware.com/download/patents.html</a></p>
      <p class="p5">VCN App is of United States Origin and is subject to United States Export Administration Regulations. You are responsible for ensuring that your proposed use of the NSX Software is not in violation of applicable United States or local law. For more information, see the NSX section of the VMware Product Guide, available at: <a>https://www.vmware.com/download/eula.html</a></p>
      <p class="p5">VMware is a registered trademark or trademark of VMware, Inc. in the United States and other jurisdictions. All other marks and names mentioned herein may be trademarks of their respective companies.</p>
    </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="info = false">Close</button>
  </div>
</clr-modal>